<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <form action="/" method="post">
        <div class="container">
            <div class="login-form">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Website Logo" class="logo">
                <h1>Website Name</h1>
                {% if get_flashed_messages()[0] != "" %}
                    <h5>{{get_flashed_messages()[0]}}</h5>
                {% endif %}
                <input type="text" class="input-field" placeholder="Username" name="username">
                <input type="password" class="input-field" placeholder="Password" name="password">            
                <button type="submit" name="login">Log In</button>
                <button class="button" name="signup">Sign Up</button>
            </div>
        </div>
    </form>
    
</body>
</html>
